/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
}

/* ?TOP NAV */

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  /* overflow: hidden; */
  border-bottom-left-radius: 0.8125rem;
  border-bottom-right-radius: 0.8125rem;
  border: 0px solid #000;
  background: #fff;
  box-shadow: 0px 4px 18px -6px #0057ff;
  height: 7rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  padding: 1rem;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Style the image inside the navigation bar */
.topnav img {
  max-width: 8rem;
  max-height: 3.5rem;
  color: blue;
}

/* ? MAIN CONTAINER */

.container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 3rem; */
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  min-height: calc(100vh - 7rem);
}

.form-style {
  border-radius: 1.1875rem;
  width: 41.375rem;
  padding: 1.5rem;
  border-radius: 1.1875rem;
  background: #fff;
  border: 1px solid #134077;
  margin-top: 2rem;
}

/* ? FORM */

input[type="text"] {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid #333;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: 700;
  width: 100%;
}

input[type="submit"] {
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.6875rem;
  background: #0057ff;
  cursor: pointer;
  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: #1457de;
}

.row {
  position: relative;
  /* border: 2px solid forestgreen; */
  display: flex;
  flex-direction: column;
}
.col-25 {
  width: 100%;
  margin-top: 6px;
}

.col-75 {
  width: 100%;
  margin-top: 6px;
}

.svg-eye {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.submit-button {
  margin: 2rem 0;
}

.bottom-form-link {
  border: 1px solid orange;
  display: flex;
  justify-content: center;
}
/* error validation */
.error {
  color: #ff0000;
}

/*? JS PASSWORD VALIDATION */
/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/*? USER PAGE EVENTS */
/* event container */
.events-container {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
/* event card */
.event-card {
  width: 22rem;
  min-height: 13.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 2px solid orange;
}

.event-date {
  margin: 2rem 0;
}

.btn-event-container {
  border: 2 px solid red;
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}

.event-btn {
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.6875rem;
  background: #0057ff;
  cursor: pointer;
  font-weight: 700;
}

.event-btn a {
  text-decoration: none;
  color: white;
}

.add-event {
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.6875rem;
  background: #1bb32a;
  cursor: pointer;
  font-weight: 700;
}

/*? SHOW */

.show-card {
  min-width: 44rem;
  height: 22rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #f1f1f1;
  border: 2px solid #0057ff;
}

.show-card h1 {
  margin-bottom: 3rem;
}

/*? CRUD BUTTON */

a {
  text-decoration: none;
}

.crud-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.crud-container button {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
}

.crud-container a {
  color: #f1f1f1;
}
.crud-container button:first-child {
  background-color: #1bb32a;
  border: none;
}

.crud-container button:nth-child(2) {
  background-color: goldenrod;
  border: none;
}

.crud-container button:nth-child(3) {
  background-color: #ff0000;
  border: none;
}

.logout {
  padding: 1rem;
  background-color: #333;
  border: none;
  border-radius: 0.6875rem;
}

.hidden {
  display: none;
}

.changePasswordBtn {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background-color: goldenrod;
  border: none;
  margin-top: 1rem;
}

.changePasswordBtn a {
  color: #f1f1f1;
}

.back-button {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background-color: #333;
  border: none;
  margin-top: 1rem;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
  .registration-form {
    max-width: 20rem;
  }
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .half-circle,
  .small-circle {
    display: none;
  }
}
